<h1 class="game-room-create-title">Declare a war</h1>
<section class="game-room-form-and-game-preview">
	<%= form_for @war, url: guild_wars_create_path(id: current_user.guild.id),  remote: true do |form| %>
        <div class="game-room-create-contour-up">
            <canvas id="game-preview" width="716px" height="346px"></canvas>
            <div class="game-room-create-form ">
                <div class="game-room-create-form-el war_form_el">
					<%= form.label :recipient, 'Guild' %>
					<%= form.text_field :recipient, class: "game-room-name-input" %>
                </div>
                <div class="game-room-create-form-el war_form_el">
                   	<%= form.label :prize, 'cost' %>
					<%= form.number_field :prize, value: 100, min: "1", max: current_user.guild.points / 2 %>
                </div>
                <div class="game-room-create-form-el war_form_el">
					<%= form.label :started, 'war start' %>
					<!-- <%= form.datetime_field :started, value: (DateTime.now + 2.minute).strftime("%FT%R"), min: (DateTime.now + 2.minute).strftime("%FT%R"), oninput: "change_wartime_and_date(this.value)" %> -->
					<%= form.datetime_field :started, value: (DateTime.now + 2.minute).strftime("%FT%R"), min: (DateTime.now + 2.minute).strftime("%FT%R") %>
                </div>
                <div class="game-room-create-form-el war_form_el">
					<%= form.label :ended, 'war end' %>
					<!-- <%= form.datetime_field :ended, value: (DateTime.now + 1.minute).strftime("%FT%R"), min: (DateTime.now + 1.minute).strftime("%FT%R") %> -->
					<%= form.datetime_field :ended, value: (DateTime.now + 1.minute).strftime("%FT%R") %>
                </div>
                <div class="game-room-create-form-el war_form_el">
                   	<%= form.label :daily_start, 'wartimes start' %>
					<%= form.time_field :daily_start %>
                </div>
				<div class="game-room-create-form-el war_form_el">
                   	<%= form.label :daily_end, 'wartimes end' %>
					<%= form.time_field :daily_end %>
                </div>
				<div class="game-room-create-form-el war_form_el">
                   	<%= form.label :time_to_wait, 'time to answer' %>
					<%= form.number_field :time_to_wait, value: 15, min: "15", max: "60", step: "15" %>
                </div>
				<div class="game-room-create-form-el war_form_el">
                   	<%= form.label :max_unanswered, 'max unanswered' %>
					<%= form.number_field :max_unanswered, value: 1, min: "1", max: "15" %>
                </div>
            </div>
        </div>
        <h4 class="game-room-create-title">Ball settings</h4>
        <div class="game-room-create-contour-down">
            <div class="game-room-create-settings-create-btn">
					<div class="game-room-ball-setting-left">
                        <%= form.label :random_mode, "Random?" %>
                        <%= form.check_box :random_mode, class: "checkbox-right", oninput: "change_randommode(this.value)" %>
                    </div>
                <div class="game-room-ball-setting-form">
                    <div class="game-room-ball-setting-left">
                        <%= form.label :ball_size, "size" %>
                        <output id="input_value_size">1</output>
                        <%= form.range_field :ball_size, value: 1, min: "0.5", max: "2", step: "0.1", oninput: "change_ballsize(this.value)" %>
                    </div>
                    <div class="game-room-ball-setting-right">
                        <%= form.label :ball_down_mode, "size down?" %>
                        <%= form.check_box :ball_down_mode, class: "checkbox-right", oninput: "change_balldownmode(this.value)" %>
                    </div>
                    <div class="game-room-ball-setting-left">
                        <%= form.label :speed_rate, "speed" %>
                        <output id="input_value_speed">1</output>
                        <%= form.range_field :speed_rate, value: 1, min: "0.5", max: "2", step: "0.1", oninput: "change_ballspeed(this.value)" %>
                    </div>
                    <div class="game-room-ball-setting-right">
                        <%= form.label :ball_speedup_mode, "speed up?" %>
                        <%= form.check_box :ball_speedup_mode, class: "checkbox-right", oninput: "change_speedup(this.value)" %>
                    </div>
                </div>
            </div>
            <div class="game-room-create-submit-btn">
                <%= form.submit "Declare", class: "submit-btn" %>
            </div>
        </div>
    <% end %>
</section>