<section class="profile-page">
	<span class="small_line"></span>
	<span class="medium_line"></span>
	<span class="small_line_after"></span>
	<section class="profile-info">
		<div>
			<% if @user.avatar.attached? %>
				<%= image_tag @user.avatar, class: "profile-info-img", alt: "avatar" %>
			<% end %>
		</div>
		<section class="profile-stat">
			<div>
				<div class="profile-nick">
					<h3><%= @user.nickname %></h3>
					<% if @user.guild %>
						<h3><%= link_to "[" + @user.guild.anagram + "]", guild_path(@user.guild), class: "profile-guild-anag" %></h3>
					<% end %>
					<% if @user.status == 'online' && (!@user.pending_games.empty? || !@user.active_wartime_games.empty? || !@user.active_tournament_games.empty?) %>
						<h3 style="color: red; margin-left: auto">In a game</h3>
					<% elsif @user.status == 'online' %>
						<h3 style="color: #B2D430; margin-left: auto">Online</h3>
					<% else %>
						<h3 style="color: grey; margin-left: auto">offline</h3>
					<% end %>
				</div>
				<div class="profile-rate-ladder">
					<%= image_tag "ball.png", class: "profile-rate-ladder-sign" %>
					<h3 class="profile-rate-ladder-num" ><%= @user.score %></h3>
				</div>
				<div class="profile-rate-ladder">
					<%= image_tag "cup.png", class: "profile-rate-ladder-sign" %>
					<h3 class="profile-rate-ladder-num"><%= @user.rating %></h3>
				</div>
			</div>
			<div class="profile-matches-stat-contour">
				<div class="profile-matches-stat">
					<div class="profile-match-stat-header">
						<h3 class="profile-wins">WINS</h3>
						<h3 class="profile-losses">LOSSES</h3>
					</div>
					<div class="profile-matches-stat-value">
						<h3 class="profile-wins profile-matches-stat-num"><%= @wins %></h3>
						<h3 class="profile-losses profile-matches-loss-stat-num"><%= @losses %></h3>
					</div>
				</div>
				<div class="profile-info-action">
						<%= link_to image_tag("mail", class: "profile-settings-action"), direct_rooms_find_path(user_id: @user.id), method: :post, remote: true%>		
						<% if @user.id == current_user.id %>
							<%= link_to image_tag("gear_", class: "profile-settings-sign"), edit_user_registration_path%>
						<% elsif Invitation.pending?(current_user.id, @user.id) %>
							<%= link_to image_tag("plus", class: "profile-settings-action profile-info-action-remove"), 
								friends_destroy_path(inv_id: Invitation.find_by(user_id: current_user.id, friend_id: @user.id).id) %>
						<% elsif current_user.friends_with?(@user) %>
						<%= link_to image_tag("plus", class: "profile-settings-action profile-info-action-remove"), friends_destroy_path(inv_id:
							Invitation.find_invitation(current_user.id, @user.id)) %>
						<% elsif Invitation.reacted?(current_user.id, @user.id) %>
							<%= link_to image_tag("plus", class: "profile-settings-action") ,  friends_update_path(inv_id: Invitation.all.find_by(user_id: @user.id).id) %>	
						<% elsif !current_user.friends_with?(@user) %>
							<%= link_to image_tag("plus", class: "profile-settings-action"), friends_add_path(user_id: @user.id) %>
						<%end%>
				</div>
			</div>
		</section>
	</section>
	<span class="line"></span>
	<h3 style="font-size: 50px;">Match history</h3>
	 <section class="match-history">
		<table>
			<col>
			<col>
			<col>
			<col>
			<tr>
				<th>opponent</th>
				<th>date</th>
				<th>type</th>
				<th>result</th>
				<th>score</th>
			</tr>
			<% @games.each do |game| %>
				<tr>
					<% if game.p1 != @user %>
						<td><%= game.p1.nickname %></td>
					<% else %>
						<td><%= game.p2.nickname %></td>
					<% end %>
					<td><%= game.ended.strftime("%m/%d/%Y %H:%M") %></td>
					<td><%= game.game_type %></td>
					<% if game.winner == @user %>
						<td class="win-color">WIN</td>
					<% else %>
						<td class="loss-color">lose</td>
					<% end %>
					<td><%= game.p1_score %>:<%= game.p2_score %></td>
				</tr>
			<% end %>
		</table>
	 </section>
</section>