<section class="guilds">
	<h2 class="guilds-title">Guilds <%= link_to "+" , new_guild_path unless current_user.guild %>
	</h2>

	<% if current_user.pending_invites.exists? %>
		<div class="guilds-invite">
			<h3 class="guilds-invite-title">You have some invites</h3>
			<ul class="guilds-invite-list">
				<% current_user.pending_invites.each do |i| %>
					<li class="guilds-invite-item">
						<% if i.guild.avatar.attached? %>
							<%= image_tag i.guild.avatar, class: "guilds-invite-item-avatar" , alt: "avatar" %>
								<% end %>
									<div class="guilds-invite-item-wrap">
										<span class="guilds-invite-item-name">
											<%= i.guild.name %>
										</span>
										<span class="guilds-invite-item-anagram">[<%= i.guild.anagram %>]</span>
									</div>
									<div class="guilds-invite-item-action">
										<%= link_to accept_invite_path(i.guild, user_id: current_user.id), class: "guilds-invite-item-accept", method: :post, remote: true do %>
											<%= image_tag "ok.png" , class: "guilds-invite-item-accept-icon" %>
												<% end%>
													<%= link_to decline_invite_path(i.guild),
														class: "guilds-invite-item-cancel", method: :post, remote: true do %>
														<%= image_tag "delete.png" ,
															class: "guilds-invite-item-cancel-icon" %>
															<% end%>
									</div>
					</li>
					<% end %>
			</ul>
			<% elsif current_user.guild %>
				<section class="guild", style="margin-bottom:50px">
					<div class="guild-name-wrap">
						<span class="guild-name">
							<%= link_to current_user.guild.name, guild_path(current_user.guild.id) %>
						</span>
						<span class="guild-anagram">[<%= current_user.guild.anagram %>]</span>
					</div>
					<div class="guild-info">
						<% if current_user.guild.avatar.attached? %>
							<%= image_tag current_user.guild.avatar, class: "guild-avatar" , alt: "avatar" %>
								<% end %>
									<div class="guild-description-wrap">
										<p class="guild-description">
											<%= current_user.guild.description %>
										</p>
									</div>
									<div class="guild-stats">
										<div class="guild-stat">
											<%= image_tag "cup.png" , class: "guild-stats-icon" %>
												<span class="guild-stat-info">
													<%= current_user.guild.rating %>
												</span>
										</div>
										<div class="guild-stat">
											<%= image_tag "ball.png" , class: "guild-stats-icon" %>
												<span class="guild-stat-info">
													<%= current_user.guild.points %>
												</span>
										</div>
										<div class="guild-stat">
											<%= image_tag "sword.png" , class: "guild-stats-icon" %>
												<span class="guild-stat-info">25 / 12</span>
										</div>
										<div class="guild-stat">
											<%= image_tag "win_rate.png" , class: "guild-stats-icon" %>
												<span class="guild-stat-info">26%</span>
										</div>
									</div>
					</div>
				</section>
				<% end %>

		</div>
		<table class="guild-table" align="left">
			<tr class="guild-table-title">
				<th class="table-title guild-table-title-rank">rank</th>
				<th class="table-title guild-table-title-score">score</th>
				<th class="table-title guild-table-title-name">name</th>
				<th class="table-title guild-table-title-owner">owner</th>
				<th class="table-title guild-table-title-wars">wars</th>
				
			</tr>
			<% @guilds.order(points: :desc).each_with_index do |g, i| %>
				<tr class="guild-table-row">
					<td class="guild-table-row-item guild-table-row-rank">
						<%= i + 1 %>
					</td>
					<td class="guild-table-row-item guild-table-row-score">
						<%= g.points %>
					</td>
					<td class="guild-table-row-item guild-table-row-name">
						<%= link_to g.name, guild_path(g) %>
					</td>
					<td class="guild-table-row-item guild-table-row-owner">
						<%= g.owner.nickname %>
					</td>
					<td class="guild-table-row-item guild-table-row-wars">24/12</td>
				</tr>
				<% end %>
		</table>
</section>