<h1> Create a guild </h1>

<%= form_for @guild, remote: true do |form| %>

	<div class="create-guild-form-field">
		<%= form.label :name, 'name', class:"create-guild-field-label"%>
		<%= form.text_field :name, placeholder: "max 15", maxlength: 15 %>
	</div>

	<div class="create-guild-form-field">
		<%= form.label :anagram, 'anagram', class:"create-guild-field-label"%>
		<%= form.text_field :anagram, placeholder: "5 characters", minlength: 5, maxlength: 5 %>
	</div>

	<div class="create-guild-form-field">
		<%= form.label :avatar, 'Image', class:"create-guild-field-label"%>
		<%= form.file_field :avatar %>
		<%= form.label :avatar, 'open', class:"create-guild-form-field-image-label"%>
	</div>

	<div class="create-guild-form-field create-guild-form-field-description">
		<label for="description" class="create-guild-field-label">description</label>
		<input type="text" id="description">
	</div>

	<%= form.submit 'create', class: "create-guild-form-button"%>
<% end %>