<section class="guild">
    <div class="guild-name-wrap">
        <span class="guild-name"><%= @guild.name %></span>
        <span class="guild-anagram">[<%= @guild.anagram %>]</span>
    </div>
    <div class="guild-info">
        <% if @guild.avatar.attached? %>
			<%= image_tag @guild.avatar, class: "guild-avatar", alt: "avatar" %>
		<% end %>
		<div class="guild-description-wrap">
			<div>
				<p class="guild-description"><%= @guild.description %></p>
			</div>
			<div style="margin-top: 5px; margin-left:auto">
			<% if !current_user.guild %>
				<% if @invite %>
				<div style="display:flex">
					<%= button_to "ACCEPT INVITE", accept_invite_path(@guild, user_id: current_user), class: "guild-description-join", remote: true %>
					<%= button_to "DECLINE INVITE", decline_invite_path(@guild, user_id: current_user), class: "guild-description-join", remote: true %>
				</div>
				<% elsif @join_request %>
					<%= button_to "CANCEL JOIN REQUEST", cancel_join_request_path(@guild, user_id: current_user), class: "guild-description-join", remote: true %>
				<% else %>
					<%= button_to "SEND JOIN REQUEST", send_join_request_path(@guild), class: "guild-description-join", remote: true %>
				<% end %>
			<%elsif current_user.guild == @guild%>
				<%= button_to "LEAVE", leave_guild_path(@guild, user_id: current_user), class: "guild-description-join", method: :post, remote: true %>
			<% end %>
			</div>
        </div>
        <div class="guild-stats">
            <div class="guild-stat">
                <%= image_tag "cup.png", class: "guild-stats-icon" %>
                <span class="guild-stat-info"><%= @guild.rating %></span>
            </div>
            <div class="guild-stat">
                <%= image_tag "ball.png", class: "guild-stats-icon" %>
                <span class="guild-stat-info"><%= @guild.points %></span>
            </div>
            <div class="guild-stat">
                <%= image_tag "sword.png", class: "guild-stats-icon" %>
                <span class="guild-stat-info">25 / 12</span>
            </div>
            <div class="guild-stat">
				<%= image_tag "win_rate.png", class: "guild-stats-icon" %>
                <span class="guild-stat-info">26%</span>
			</div>
		</div>
    </div>

    <div class="guild-lists-wrap">
		<div class="guild-users-list">
			<div class="guild-users-list-header">
				<%= image_tag "man.png", style: "height:40px;margin-right:10px" %>
				<h3 class="guild-users-list-header-title">
					<%= @guild.guild_members.size %>
					<% if (current_user.guild_owner || current_user.guild_officer) && current_user.guild == @guild%>
					<%= link_to "+", friends_search_path %>
					<%end%>
				</h3>
			</div>
		<% if (current_user.guild_owner || current_user.guild_officer) && current_user.guild == @guild %>
			<div class="guild_users_list_nav">
                <div class="guild_users_list">
                    <button id="switch-btn-guild-users" class="btn-active" onclick="room_guild_users_switch('users')">users</button>
					<button id="switch-btn-guild-users-sending" class="" onclick="room_guild_users_switch('sending')">sending</button>
                    <button id="switch-btn-guild-users-incoming" class="" onclick="room_guild_users_switch('incoming')">incoming</button>
                </div>
			</div>
			<div id="guild-sending-users" style="display:none">
				<% @guild_sending_invites.each do |member|%>
					<% if member.online? %>
					<section class="friend-list-element" style="width:500px">
				<% else %>
					<section class="friend-list-element friend-list-element-offline" style="width:500px">
				<% end %>
						<div class="friend-list-element-profile-img">
							 <%= link_to image_tag(member.avatar, ),
                        profile_path(member) %>
						</div>
						<div class="friend-list-element-btn-nickname-guild">
							
								<div class="friend-list-element-nickname-guild" style="min-width:430px">
									<h4> <%= link_to member.nickname, profile_path(member) %> </h4>
									<%= link_to image_tag("delete.png", style: "width:35px;height:35px") , cancel_invite_path(@guild.id , user_id: member.id), style: "margin-left:auto", method: :post, remote: true %>
								</div>
					</div>
				</section>
				<%end%>
			</div>
			<div id="guild-incoming-users" style="display:none">
				<% @guild_incoming_invites.each do |member|%>
					<% if member.online? %>
					<section class="friend-list-element" style="width:500px">
				<% else %>
					<section class="friend-list-element friend-list-element-offline" style="width:500px">
				<% end %>
						<div class="friend-list-element-profile-img">
							 <%= link_to image_tag(member.avatar, ),
                        profile_path(member) %>
						</div>
						<div class="friend-list-element-btn-nickname-guild">
							
								<div class="friend-list-element-nickname-guild" style="min-width:430px">
									<h4> <%= link_to member.nickname, profile_path(member) %> </h4>
									<%= link_to image_tag("ok.png", style: "width:35px;height:35px") ,accept_join_request_path(@guild.id , user_id: member.id), style: "margin-left:auto", method: :post, remote: true %>
									<%= link_to image_tag("delete.png", style: "width:35px;height:35px"), decline_join_request_path(@guild.id , user_id: member.id), style: "margin-left:auto", method: :post, remote: true %>
								</div>
					</div>
				</section>
				<%end%>
			</div>
		<%end%>
		<div id="guild-all-users" style="display:block">
			<% @guild.members.each do |member| %>
				<% if member.online? %>
					<section class="friend-list-element" style="width:500px">
				<% else %>
					<section class="friend-list-element friend-list-element-offline" style="width:500px">
				<% end %>
						<div class="friend-list-element-profile-img">
							 <%= link_to image_tag(member.avatar, ),
                        profile_path(member) %>
						</div>
						<div class="friend-list-element-btn-nickname-guild">
							
								<div class="friend-list-element-nickname-guild" style="min-width:430px">
									<h4> <%= link_to member.nickname, profile_path(member) %> </h4>
									<h4 class="friend-list-element-guild">[<%= member.guild.anagram %>]</h4>
									<% if (member.guild_officer) && member.guild == @guild %>
										<h4 style="margin-left:auto">officer</h4>
									<%elsif member.guild_owner  && member.guild == @guild %>
										<h4 style="margin-left:auto">owner</h4>
									<%end%>

								</div>

						<div style="display:flex">
							<div class="friend-list-element-btn" style="min-width:295px">
								<%= link_to image_tag("mail.png", alt: "mail"), direct_rooms_find_path(user_id: member.id), method: :post, remote: true %>
								<% if member.online? && member != current_user && current_user.guild != @guild %>
									<%= link_to image_tag("sword.png", alt: "sword"), wartime_game_create_path(p2_id: member.id), method: :post, remote: true%>
								<% end %>
							</div>
						<div style="text-align:right">
						<% if current_user.admin || (current_user.guild_owner && current_user.guild == @guild) %>
							<% if !member.guild_officer  %>
								<%= link_to "make officer", add_officer_path(user_id: member.id), style: "margin-left: auto; display:block", method: :post, remote: true %>
							<% elsif %>
								<%= link_to "remove officer", remove_officer_path(user_id: member.id), style: "margin-left: auto; display:block", method: :post, remote: true %>	
							<%end%>
							<% if current_user.admin || (((current_user.guild_owner && !member.guild_owner)|| (current_user.guild_officer && !member.guild_owner && !member.guild_officer )) && current_user.guild == @guild) %>
								<%= link_to "kick", kick_member_path(user_id: member.id), style: "margin-left: auto; display:block", method: :post, remote: true %>
							<%end%>
						<%end%>
					</div>
					</div>
						
					</div>
				</section>
			<% end %>
			</div>
        </div>
        <div class="guild-war-history-list">
			<h3 class="guild-war-history-list-title">
				<%= link_to guild_wars_index_path(@guild) do %>
					Wars
					<% if (current_user.guild_owner || current_user.guild_officer) && current_user.guild == @guild %>
						<%= link_to "+", guild_wars_new_path %>
					<%end%>
				<%end%>
			</h3>
            <ul class="war-history-list">
			<% @wars_ended.each do |wre| %>
				<%= link_to guild_wars_show_path(wre) do %>
                <li class="war-history-item">
                    <div class="war-history-item-wrap">
					<% if @guild != wre.initiator %>
                        <span class="war-history-item-name"><%= wre.initiator.name %></span>
                        <span class="war-history-item-anagram">[<%= wre.initiator.anagram %>]</span>
					<%else%>
						<span class="war-history-item-name"><%= wre.recipient.name %></span>
						<span class="war-history-item-anagram">[<%= wre.recipient.anagram %>]</span>
					<%end%>
                    </div>
                    <div class="war-history-total-result">
						
							<% if @guild != wre.initiator %>
								<% if @guild != wre.winner && wre.status != "finish_draw" %>
									<h3 class="total-result-score"><span class="total-result-score-lose"><%= wre.initiator_score %></span>
								<%else%>
									<h3 class="total-result-score"><%= wre.initiator_score %>
								<%end%>
							<%else%>
								<% if @guild != wre.winner && wre.status != "finish_draw"  %>
									<h3 class="total-result-score"><span class="total-result-score-lose"><%= wre.recipient_score %></span>
								<%else%>
									<h3 class="total-result-score"><%= wre.recipient_score %>
								<%end%>
							<%end%>

							<% if @guild == wre.initiator %>
								<% if @guild == wre.winner && wre.status != "finish_draw"  %>
									<span class="total-result-score-win">: <%= wre.initiator_score %></span></h3>
								<%else%>
									: <%= wre.initiator_score %></h3>
								<%end%>
							<%else%>
								<% if @guild == wre.winner && wre.status != "finish_draw"  %>
									<span class="total-result-score-win">:   <%= wre.recipient_score %></span></h3>
								<%else%>
									: <%= wre.recipient_score %></h3>
								<%end%>
							<%end%>

							<% if @guild == wre.winner && wre.status != "finish_draw" %>
								<span class="total-result-score total-result-score-win">WIN</span>
							<%elsif wre.status == "finish_draw" %>
							<span class="total-result-score total-result-score-win">DRAW</span>
							<%else%>
								<span class="total-result-score total-result-score-lose">LOST</span>
							<%end%>
							<h3 style="font-size:20px"><%=wre.ended.strftime("%m/%d/%Y %H:%M")%></h3>
                    </div>
                </li>
				<%end%>
			<%end%>
            </ul>
        </div>
    </div>
</section>