<h1><%= @guild.name %> </h1>

<h2>Members:</h2>
<p><%= @guild.owner.nickname %> </p>
<h2>Members:</h2>
<% @guild.members.each do |member| %>
	<p><%= member.nickname %> </p>
	<% if current_user.guild_owner && @guild == current_user.guild && member != current_user %>
		<%= link_to "add to officer", add_officer_path(@guild, user_id: member), method: :post, remote: true %>
	<% end %>
<% end %>
<h2>Officers:</h2>
<% @guild.officers.each do |member| %>
	<p><%= member.nickname %> </p>
<% end %>

<h2>Pending invites:</h2>
<h2>Incoming </h2>
<% @guild.pending_incoming_invites_user.each do |member| %>
	<p><%= member.nickname %> </p>
	<%= link_to "accept invite", accept_invite_path(@guild, user_id: member), method: :post, remote: true %>
<% end %>
<h2>Sending </h2>
<% @guild.pending_sending_invites_user.each do |member| %>
	<p><%= member.nickname %> </p>
	
<% end %>