<section class="guild">
    <div class="guild-name-wrap">
        <span class="guild-name"><%= @guild.name %></span>
        <span class="guild-anagram"><%= @guild.anagram %></span>
    </div>
    <div class="guild-info">
        <% if @guild.avatar.attached? %>
			<%= image_tag @guild.avatar, class: "guild-avatar", alt: "avatar" %>
		<% end %>
        <div class="guild-description-wrap">
            <p class="guild-description"><%= @guild.description %></p>
            <% if !current_user.guild %>
                <% if @invite %>
                    <%= button_to "ACCEPT INVITE", accept_invite_path(@guild, user_id: current_user), class: "guild-description-join", remote: true %>
                    <%= button_to "DECLINE INVITE", decline_invite_path(@guild, user_id: current_user), class: "guild-description-join", remote: true %>
                <% elsif @join_request %>
                    <%= button_to "CANCEL JOIN REQUEST", cancel_join_request_path(@guild, user_id: current_user), class: "guild-description-join", remote: true %>
                <% else %>
                    <%= button_to "SEND JOIN REQUEST", send_join_request_path(@guild), class: "guild-description-join", remote: true %>
                <% end %>
            <% end %>
        </div>
        <div class="guild-stats">
            <div class="guild-stat">
                <%= image_tag "cup.png", class: "guild-stats-icon" %>
                <span class="guild-stat-info"><%= @guild.rating %></span>
            </div>
            <div class="guild-stat">
                <%= image_tag "ball.png", class: "guild-stats-icon" %>
                <span class="guild-stat-info"><%= @guild.points %></span>
            </div>
            <div class="guild-stat">
                <%= image_tag "sword.png", class: "guild-stats-icon" %>
                <span class="guild-stat-info">25 / 12</span>
            </div>
            <div class="guild-stat">
                <img src="assets/images/sword.png" alt="cup" class="guild-stats-icon">
                <span class="guild-stat-info">26%</span>
            </div>
        </div>
    </div>

    <div class="guild-lists-wrap">
        <div class="guild-users-list">
        </div>
        <div class="guild-war-history-list">
            <h3 class="guild-war-history-list-title">War history</h3>
            <ul class="war-history-list">
                <li class="war-history-item">
                    <div class="war-history-item-wrap">
                        <span class="war-history-item-name">Anal POWER!!!</span>
                        <span class="war-history-item-anagram">[ANAL#]</span>
                    </div>
                    <div class="war-history-total-result">
                        <span class="total-result-score total-result-score-win">56:40 WIN</span>
                        <time class="total-result-time">12/12/2012</time>
                    </div>
                </li>
                <li class="war-history-item">
                    <div class="war-history-item-wrap">
                        <span class="war-history-item-name">Anal POWER!!!</span>
                        <span class="war-history-item-anagram">[ANAL#]</span>
                    </div>
                    <div class="war-history-total-result">
                        <span class="total-result-score total-result-score-lose">26:40 LOST</span>
                        <time class="total-result-time">12/12/2012</time>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>