<!DOCTYPE html>
<html>
  <head>
    <title>game</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
	<%= csp_meta_tag %>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	
	<meta name="turbolinks-cache-control" content="no-preview">
	
  </head>

  <body>
	<% if user_signed_in? %>
		<%= render "layouts/header" %>
	<%end%>
	<%= render 'layouts/flashes' %>
	<main>
	<%= yield %>
	</main>
	<footer>
		<span>11001001100101110010011001001100001111001011000011101010110000111011001110110110000111100101101111110100111011011101001110001111000011101000</span>
	</footer>
  </body>

</html>
