<section class "user-search">
	<ul>
		<% @users.each do |user| %>
			<li>
			<div class="user-search-users">
				<h3 style="font-size: 30px"><%= link_to user.nickname, profile_path(user) %></h3>
				<% if current_user.friends_with?(user) %>
					<h3 class="user-search-link">is your friend</h3>
				<% elsif current_user == user %>
				<% elsif Invitation.pending?(current_user.id, user.id) %>
					<h3 style="font-size: 30px"> - friend request is pending</h3>
					<%= link_to "add friend", friends_add_path(user_id: user.id), class: "user-search-link" %>

					<%= link_to "decline", friends_destroy_path(inv_id: Invitation.find_by(user_id: current_user.id, friend_id: user.id).id), class: "user-search-link" %>
				<% elsif Invitation.reacted?(current_user.id, user.id) %>
					<%= link_to "accept friend invite",  friends_update_path(inv_id: Invitation.all.find_by(user_id: user.id).id), class: "user-search-link" %>	
				<% else %>
					<%= link_to "add friend", friends_add_path(user_id: user.id), class: "user-search-link" %>
				<% end %>
				<% if current_user.guild && (current_user.guild_officer || current_user.guild_owner) %>
					<% if !user.guild && !current_user.guild.pending_invites?(user) %>
						<%= link_to "invite in guild", send_invite_path(current_user.guild.id ,user_id: user.id), class: "user-search-link" , method: :post, remote: true %>
					<% elsif current_user.guild.pending_invites?(user) %>
						<%= link_to "cancel request", cancel_invite_path(current_user.guild.id ,user_id: user.id), class: "user-search-link" , method: :post, remote: true %>
					<% end %>
				<% end %>
			</div>
			</li>
		<% end %>
		<%= will_paginate @users %>
	</ul>
<section>