<section class="stats">
    <h2 class="stats-title">Stats</h2>
    <section class="stats-top">
        <section class="stats-top-guild">
			<h3 class="stats-top-title">Top guild</h3>
			<% if @top_guild %>
			<% @top_guild.each do |guild| %>
            <section class="top-guild">
				<div class="top-guild-info">
					<%= link_to guild.anagram, guild_path(guild), class: "top-guild-name" %>
					<%= link_to guild_path(guild), class: "top-guild-anagram" do %>
						[<%= guild.anagram %>]
					<%end%>
                </div>
				<div class="top-guild-stats-wrap">
					<%= link_to image_tag(guild.avatar, alt: "avatar", class: "stats-top-guild-avatar"), guild_path(guild) %>
                    <div class="top-guild-stats">
                        <div class="top-guild-stat">
                            <%= image_tag "sword.png", class: "top-guild-stat-icon" %>
                            <span class="top-guild-stat-kd">20 / 34</span>
                        </div>

                        <div class="top-guild-stat">
                        <%= image_tag "man.png", class: "top-guild-stat-icon" %>
                            <span class="top-guild-stat-kd"><%= guild.members.size %></span>
                        </div>

                        <div class="top-guild-stat">
                            <%= image_tag "win_rate.png", class: "top-guild-stat-icon" %>
                            <span class="top-guild-stat-kd">23%</span>
                        </div>

                    </div>
                    <div class="top-guild-score-wrap">
                        <%= image_tag "ball.png", class: "top-guild-stat-icon" %>
                        <span class="top-guild-score"><%= guild.points %></span>
                    </div>
                </div>
			</section>
			<%end%>
			<%else%>
				<h3>There are no guild top-guild</h3>
			<%end%>
        </section>

        <section class="stats-top-users">
            <h3 class="stats-top-title">Top users</h3>
			<ul class="stats-top-users-list">
			<% @top_users.each do |user| %>
                <li class="stats-top-users-item">
					<%= image_tag "cup.png", class: "stats-top-users-cup" %>
					<%= link_to image_tag(user.avatar, alt: "avatar", class: "stats-top-users-avatar"), profile_path(user) %>
                    <div class="user-info">
						<span class="user-info-nickname"><%=link_to user.nickname,profile_path(user) %></span>
						<%if user.guild %>
							<%= link_to guild_path(user.guild), class: "user-info-anagram" do %>
								[<%= user.guild.name %>]
							<%end%>
						<%end%>
						<%= link_to image_tag("mail.png", class: "user-action-message-icon"), direct_rooms_find_path(user_id: user.id), method: :post, remote: true %>
                    </div>
                    <div class="stats-top-users-score">
                        <%= image_tag "ball.png", class: "top-users-score-icon" %>
                        <span class="top-users-score"><%= user.score %></span>
                    </div>
				</li>
			<%end%>
            </ul>
        </section>
    </section>

    <section class="stats-users-guild">
        <table class="stats-users-guild-table" align="left">
            <tr class="table-row-title">
                <th class="table-title table-title-rank">rank</th>
                <th class="table-title table-title-nickname">nick-name</th>
                <th class="table-title table-title-score">score</th>
			</tr>
		<% @users.each  do |user| %>
            <tr class="table-row">
                <td class="table-row-rank"><%= user.rating %></td>
                <td class="table-row-nickname"><%= link_to user.nickname, profile_path(user) %></td>
                <td class="table-row-score"><%= user.score %></td>
			</tr>
		<%end%>
        </table>
    </section>
</section>
