<section class="stats">
    <h2 class="stats-title">Stats</h2>
    <section class="stats-top">
        <section class="stats-top-guild">
            <h3 class="stats-top-title">Top guild</h3>
            <section class="top-guild">
                <div class="top-guild-info">
                    <span class="top-guild-name">ANAL-BLYAT</span>
                    <span class="top-guild-anagram">[ZHOPA]</span>
                </div>
                <div class="top-guild-stats-wrap">
                    <img src="assets/images/sword.png" alt="avatar" class="stats-top-guild-avatar">
                    <div class="top-guild-stats">
                        <div class="top-guild-stat">
                            <%= image_tag "sword.png", class: "top-guild-stat-icon" %>
                            <span class="top-guild-stat-kd">20 / 34</span>
                        </div>

                        <div class="top-guild-stat">
                        <%= image_tag "sword.png", class: "top-guild-stat-icon" %>
                            <span class="top-guild-stat-kd">23 / 100</span>
                        </div>

                        <div class="top-guild-stat">
                            <%= image_tag "sword.png", class: "top-guild-stat-icon" %>
                            <span class="top-guild-stat-kd">23%</span>
                        </div>

                    </div>
                    <div class="top-guild-score-wrap">
                        <%= image_tag "ball.png", class: "top-guild-stat-icon" %>
                        <span class="top-guild-score">322</span>
                    </div>
                </div>
            </section>
        </section>

        <section class="stats-top-users">
            <h3 class="stats-top-title">Top users</h3>
            <ul class="stats-top-users-list">
                <li class="stats-top-users-item">
                    <%= image_tag "cup.png", class: "stats-top-users-cup" %>
                    <img src="assets/images/sword.png" alt="avatar" class="stats-top-users-avatar">
                    <div class="user-info">
                        <span class="user-info-nickname">Jalvaroddq</span>
                        <span class="user-info-anagram">[ANAL #]</span><br>
                        <a href="#" class="user-action-message">
                            <%= image_tag "mail.png", class: "user-action-message-icon" %>
                        </a>
                        <a href="#" class="user-action-war">
                            <%= image_tag "sword.png", class: "user-action-war-icon" %>
                        </a>
                        <a href="#" class="user-action-block">
                            <%= image_tag "delete.png", class: "user-action-block-icon" %>
                        </a>
                    </div>
                    <div class="stats-top-users-score">
                        <%= image_tag "ball.png", class: "top-users-score-icon" %>
                        <span class="top-users-score">322</span>
                    </div>
                </li>
                <li class="stats-top-users-item">
                    <%= image_tag "cup.png", class: "stats-top-users-cup" %>
                    <img src="assets/images/sword.png" alt="avatar" class="stats-top-users-avatar">
                    <div class="user-info">
                        <span class="user-info-nickname">Jalvaroddq</span>
                        <span class="user-info-anagram">[ANAL #]</span><br>
                        <a href="#" class="user-action-message">
                            <%= image_tag "mail.png", class: "user-action-message-icon" %>
                        </a>
                        <a href="#" class="user-action-war">
                            <%= image_tag "sword.png", class: "user-action-war-icon" %>
                        </a>
                        <a href="#" class="user-action-block">
                            <%= image_tag "delete.png", class: "user-action-block-icon" %>
                        </a>
                    </div>
                    <div class="stats-top-users-score">
                        <%= image_tag "ball.png", class: "top-users-score-icon" %>
                        <span class="top-users-score">322</span>
                    </div>
                </li>
                <li class="stats-top-users-item">
                    <%= image_tag "cup.png", class: "stats-top-users-cup" %>
                    <img src="assets/images/sword.png" alt="avatar" class="stats-top-users-avatar">
                    <div class="user-info">
                        <span class="user-info-nickname">Jalvaroddq</span>
                        <span class="user-info-anagram">[ANAL #]</span><br>
                        <a href="#" class="user-action-message">
                            <%= image_tag "mail.png", class: "user-action-message-icon" %>
                        </a>
                        <a href="#" class="user-action-war">
                            <%= image_tag "sword.png", class: "user-action-war-icon" %>
                        </a>
                        <a href="#" class="user-action-block">
                            <%= image_tag "delete.png", class: "user-action-block-icon" %>
                        </a>
                    </div>
                    <div class="stats-top-users-score">
                        <%= image_tag "ball.png", class: "top-users-score-icon" %>
                        <span class="top-users-score">322</span>
                    </div>
                </li>
            </ul>
        </section>
    </section>

    <section class="stats-users-guild">
        <input type="search" class="stats-users-guild-search" placeholder="search">
        <table class="stats-users-guild-table" align="left">
            <tr class="table-row-title">
                <th class="table-title table-title-rank">rank</th>
                <th class="table-title table-title-nickname">nick-name</th>
                <th class="table-title table-title-score">score</th>
            </tr>
            <tr class="table-row">
                <td class="table-row-rank">1</td>
                <td class="table-row-nickname">deddara</td>
                <td class="table-row-score">3000</td>
            </tr>
            <tr class="table-row">
                <td class="table-row-rank">1</td>
                <td class="table-row-nickname">deddara</td>
                <td class="table-row-score">3000</td>
            </tr>
        </table>
    </section>
</section>
