<section class="tournaments">
<p class="tournaments-title">Tournaments+</p>
<ul class="tournaments-list">
    <li class="tournaments-item">
        <div class="tournaments-info">
            <p class="tournaments-info-name">GACHIMUCHI</p>
            <p class="tournaments-info-description">
                in this tournament you can become dungeoun master
            </p>
            <time class="tournaments-info-date">
                28/03/2021 18:00
            </time>
        </div>
        <div class="tournaments-prizes">
            <div class="tournaments-prizes-entry">
                <span>Entry 25</span>
                <%= image_tag "ball.png", alt: "coin", class: "tournaments-prizes-entry-icon" %>
            </div>
            <p class="tournaments-prizes-title">Prizes</p>
            <ul class="tournaments-prizes-list">
                <li class="tournaments-prizes-item">
                    <%= image_tag "cup.png", alt: "cup", class: "tournaments-prizes-item-cup" %>
                    <span class="tournaments-prizes-item-text">50% of pool</span>
                </li>
                <li class="tournaments-prizes-item">
                    <%= image_tag "cup.png", alt: "cup", class: "tournaments-prizes-item-cup" %>
                    <span class="tournaments-prizes-item-text">35% of pool</span>
                </li>
                <li class="tournaments-prizes-item">
                    <%= image_tag "cup.png", alt: "cup", class: "tournaments-prizes-item-cup" %>
                    <span class="tournaments-prizes-item-text">15% of pool</span>
                </li>
            </ul>
        </div>
                <div class="tournaments-mods">
                    <div class="tournaments-mods-title">
                        <span>Mods</span>
                    </div>
                </div>
        <div class="tournaments-register">
            <p class="tournaments-register-ranked">ranked</p>
<!--                    <p class="tournaments-register-ranked">unranked</p>-->
            <div class="tournaments-register-amount-member">
            <%= image_tag "man.png", alt: "man", class: "tournaments-register-amount-member-icon" %>
                <span>27/30</span>
            </div>
            <button class="tournaments-register-button">
                register
            </button>
        </div>
    </li>
    <li class="tournaments-item">
        <div class="tournaments-info">
            <p class="tournaments-info-name">GACHIMUCHI</p>
            <p class="tournaments-info-description">
                in this tournament you can become dungeoun master
            </p>
            <time class="tournaments-info-date">
                28/03/2021 18:00
            </time>
        </div>
<!--                <div class="tournaments-prizes">-->
<!--                    <div class="tournaments-prizes-entry">-->
<!--                        <span>Entry 25</span>-->
<!--                        <img src="assets/images/sword.png" alt="coin" class="tournaments-prizes-entry-icon">-->
<!--                    </div>-->
<!--                    <p class="tournaments-prizes-title">Prizes</p>-->
<!--                    <ul class="tournaments-prizes-list">-->
<!--                        <li class="tournaments-prizes-item">-->
<!--                            <img src="assets/images/sword.png" alt="cup" class="tournaments-prizes-item-cup">-->
<!--                            <span class="tournaments-prizes-item-text">50% of pool</span>-->
<!--                        </li>-->
<!--                        <li class="tournaments-prizes-item">-->
<!--                            <img src="assets/images/sword.png" alt="cup" class="tournaments-prizes-item-cup">-->
<!--                            <span class="tournaments-prizes-item-text">35% of pool</span>-->
<!--                        </li>-->
<!--                        <li class="tournaments-prizes-item">-->
<!--                            <img src="assets/images/sword.png" alt="cup" class="tournaments-prizes-item-cup">-->
<!--                            <span class="tournaments-prizes-item-text">15% of pool</span>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
        <div class="tournaments-mods">
            <div class="tournaments-mods-title">
                <span>Mods</span>
            </div>
        </div>
        <div class="tournaments-register">
            <p class="tournaments-register-ranked">ranked</p>
<!--                    <p class="tournaments-register-ranked"> </p>-->
            <div class="tournaments-register-amount-member">
                <img src="assets/images/sword.png" alt="coin" class="tournaments-register-amount-member-icon">
                <span>27/30</span>
            </div>
            <button class="tournaments-register-button">
                register
            </button>
        </div>
    </li>
</ul>
</section>
