<section class="tournaments">
<p class="tournaments-title">Tournaments<% if current_user.admin %><%= link_to "+", new_tournament_path %><%end%></p>
<ul class="tournaments-list">
<% @tournaments.each do |t| %>
    <li class="tournaments-item">
        <div class="tournaments-info">
            <p class="tournaments-info-name"><%= t.name %></p>
            <p class="tournaments-info-description">
                in this tournament you can become dungeoun master
            </p>
            <time class="tournaments-info-date">
                <%=t.start.strftime("%m/%d/%Y %H:%M") %>
            </time>
        </div>
        <div class="tournaments-prizes">
            <div class="tournaments-prizes-entry">
                <span>Entry <%= t.cost %></span>
                <%= image_tag "ball.png", alt: "coin", class: "tournaments-prizes-entry-icon" %>
            </div>
            <p class="tournaments-prizes-title">Prize</p>
            <ul class="tournaments-prizes-list">
                <li class="tournaments-prizes-item">
                    <span class="tournaments-prizes-item-text"><%= t.prize%> <%= image_tag "ball.png", alt: "coin", class: "tournaments-prizes-item-cup"%></span>
                </li>
            </ul>
        </div>
                <div class="tournaments-mods">
                        <span class="game-status-mods-title">Mods</span>
                        <ul class="game-status-mods-list">
                        <li class="game-status-mods-item">
                            <%= image_tag "ball_speed.png", alt: "icon", class: "game-status-mods-item-icon" %>
                            <h3><%= t.speed_rate %></h3>
                        </li>
                        <li class="game-status-mods-item">
                            <%= image_tag "ball_size.png", alt: "icon", class: "game-status-mods-item-icon" %>
                            <h3><%= t.ball_size %></h3>
                        </li>
                        <% if t.ball_down_mode %>
                            <li class="game-status-mods-item">
                                <%= image_tag "ball_size_down.png", alt: "icon", class: "game-status-mods-item-icon" %>
                            </li>
                        <%end%>
                        <% if t.ball_speedup_mode %>
                            <li class="game-status-mods-item">
                                <%= image_tag "ball_speed_up.png", alt: "icon", class: "game-status-mods-item-icon" %>
                            </li>
                        <%end%>
                        <% if t.random_mode %>
                            <li class="game-status-mods-item">
                                <%= image_tag "random.png", alt: "icon", class: "game-status-mods-item-icon" %>
                            </li>
                         <%end%>
                    </ul>
                </div>
        <div class="tournaments-register">
            <p class="tournaments-register-ranked"></p>
<!--        <p class="tournaments-register-unranked">unranked</p>-->
            <div class="tournaments-register-amount-member">
            <%= image_tag "man.png", alt: "man", class: "tournaments-register-amount-member-icon" %>
                <span><%=t.tournament_players.size%>/<%=t.max_players%></span>
            </div>
            <button class="tournaments-register-button">
                register
            </button>
        </div>
    </li>
    <%end%>
</ul>
</section>
