<section class="profile-page">
	<span class="small_line"></span>
	<span class="medium_line"></span>
	<span class="small_line_after"></span>
	<section class="profile-info">
		<div>
			<% if @user.avatar.attached? %>
				<%= image_tag @user.avatar, class: "profile-info-img", alt: "avatar" %>
			<% end %>
		</div>
		<section class="profile-stat">
			<div>
				<div class="profile-nick">
					<h3><%= @user.nickname %></h3>
					<% if @user.guild %>
						<h3><%= link_to "[" + @user.guild.anagram + "]", guild_path(@user.guild), class: "profile-guild-anag" %></h3>
					<% end %>
				</div>
				<div class="profile-rate-ladder">
					<%= image_tag "ball.png", class: "profile-rate-ladder-sign" %>
					<h3 class="profile-rate-ladder-num" ><%= @user.score %></h3>
				</div>
				<div class="profile-rate-ladder">
					<%= image_tag "cup.png", class: "profile-rate-ladder-sign" %>
					<h3 class="profile-rate-ladder-num"><%= @user.rating %></h3>
				</div>
			</div>
			<div class="profile-matches-stat-contour">
				<div class="profile-matches-stat">
					<div class="profile-match-stat-header">
						<h3 class="profile-wins">WINS</h3>
						<h3 class="profile-losses">LOSSES</h3>
					</div>
					<div class="profile-matches-stat-value">
						<h3 class="profile-wins profile-matches-stat-num"><%= @wins %></h3>
						<h3 class="profile-losses profile-matches-loss-stat-num"><%= @losses %></h3>
					</div>
				</div>
				<div class="profile-info-action">
						<% if @user.id == current_user.id %>
							<%= link_to image_tag("gear_", class: "profile-settings-sign"), root_path%>
						
						<% elsif !current_user.friends_with?(@user) %>
							<%= link_to "add", friends_add_path(user_id: @user.id), class: "profile-info-action-add" %>
						<%end%>
				</div>
			</div>
		</section>
	</section>
	<span class="line"></span>
	<h3 style="font-size: 50px;">Match history</h3>
	 <section class="match-history">
		<table>
			<col>
			<col>
			<col>
			<col>
			<tr>
				<th>opponent</th>
				<th>date</th>
				<th>result</th>
				<th>score</th>
			</tr>
			<% @games.each do |game| %>
				<tr>
					<% if game.p1 != @user %>
						<td><%= game.p1.nickname %></td>
					<% else %>
						<td><%= game.p2.nickname %></td>
					<% end %>
					<td><%= game.ended %></td>
					<% if game.winner == @user %>
						<td class="win-color">WIN</td>
					<% else %>
						<td class="loss-color">lose</td>
					<% end %>
					<td><%= game.p1_score %>:<%= game.p2_score %></td>
				</tr>
			<% end %>
		</table>
	 </section>
</section>