<h2 class="profile-settings-title">Profile setting</h2>
<section class="profile-settings-section personal-information">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "personal-information-form", html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="personal-information-form-filed">
    <%= f.label :email, class: "personal-information-field-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "personal-information-field-input", id: "email", type: "text" %>
  </div>
 	<div  class="personal-information-form-filed">
 		<%= f.label :nickname %><br />
		<%= f.text_field :nickname, class: "personal-information-field-input" %>
	</div>


	<div class="personal-information-form-filed">
	<%= f.label :avatar, 'Image', class: "personal-information-field-label" %>
	<%= f.file_field :avatar %>
	<%= f.label :avatar, 'open',  class: "personal-information-form-button", style: "margin-left:auto" %>
	</div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="personal-information-form-filed">
    <%= f.label :password, class: "personal-information-field-label"  %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "personal-information-field-input", type: "text"  %>
    <% if @minimum_password_length %>
      <br />
    <% end %>
  </div>

  <div class="personal-information-form-filed">
    <%= f.label :password_confirmation, class: "personal-information-field-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",  class: "personal-information-field-input", type: "text" %>
  </div>

  <div class="personal-information-form-filed">
    <%= f.label :current_password, class: "personal-information-field-label" %> <br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "personal-information-field-input", type: "text" %>
  </div>

  <div class="personal-information-form-filed">
    <%= f.submit "Update", class: "personal-information-form-button", style: "margin-left:auto" %>
  </div>
<% end %>
<span class="line"></span>

<div class="personal-information-form-filed">
<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "personal-information-form-button" %>
</div>

<div class="personal-information-form-filed">
<% if !current_user.otp_secret %>
<%= link_to "Turn on two-step verification", otp_secrets_path, class: "personal-information-form-button" %>
<%else%>
<%= button_to "Turn off two-step verification", otp_secrets_destroy_path, class: "personal-information-form-button",  method: :post, remote: true %>
<%end%>
</div>


</section>

<section class="profile-settings-section block-users">
    <h2 class="profile-settings-title">Blocked users</h2>
    <ul class="block-users-list">
    <% current_user.blocked.each do |user| %>
        <li class="block-users-user">
            <%= link_to image_tag(user.avatar,  class: "block-users-user-avatar"), profile_path(user) %>
            <div class="block-users-user-interaction">
                <div class="block-users-user-info">
                   <%= link_to user.nickname, profile_path(user), class: "block-users-user-info-nickname"%>
                   <% if user.guild %>
                    <%= link_to guild_path(user.guild), class: "block-users-user-info-guilds" do %>
                                    [<%=user.guild.anagram%>]
                      <%end%>
                    <%end%>

                </div>
                <%= link_to "unblock", unblock_path(id:current_user.id, blocked_id: user.id),  method: :post, remote: true %>

            </div>
        </li>
    <%end%>
    </ul>
</section>
<%= link_to "Back", :back %>