<% @friends.each do |friend| %>
    <% if friend.online? %>
        <section class="friend-list-element">
    <% else %>
        <section class="friend-list-element friend-list-element-offline">
    <% end %>
        <%= link_to profile_path(friend) do %>
            <div class="friend-list-element-profile-img">
                <img src="<%= rails_storage_proxy_path(friend.avatar) %>" alt="profile-img">
            </div>
            <div class="friend-list-element-btn-nickname-guild">
                
                    <div class="friend-list-element-nickname-guild">
                        <h4><%= friend.nickname %></h4>
                        <% if friend.guild %>
                            <h4 class="friend-list-element-guild">[<%= friend.guild.anagram %>]</h4>
                        <% end %>
                    </div>
        <% end %>
            <div class="friend-list-element-btn">
                <%= link_to image_tag("mail.png", alt: "mail"), direct_rooms_find_path(user_id: friend.id), method: :post, remote: true %>
                <% if friend.online? %>

                <% end %>
				<%= link_to image_tag("cross.png", alt: "delete"), friends_destroy_path(inv_id:
				Invitation.find_invitation(current_user.id, friend.id)) %>
            </div>
        </div>
    </section>
<% end %>