<h2>
    <%= link_to "Search for a friend" , friends_search_path %>
</h2>

<h2>Pending invitations<br>
    <h2>
        <% @pending_invites.each do |invite| %>
            <li style="color: white">
                <%= User.all.find(invite.user_id).email %>
                    <%= link_to "accept" , friends_update_path(inv_id: invite.id) %>
                        <%= link_to "decline" , friends_destroy_path(inv_id: invite.id) %>
            </li>
            <% end %>

                <h2>Waiting for confirm<br>
                    <h2>
                        <% @invites.each do |invite| %>
                            <li style="color: white">
                                <%= User.all.find(invite.friend_id).email %>
                                    <%= link_to "decline" , friends_destroy_path(inv_id: invite.id) %>
                            </li>
                            <% end %>

                                <h2>Friends<br>
                                    <h2>
                                        <% @user_friends.each do |friend| %>
                                            <%= friend.email %>
                                                <%= link_to "delete" , friends_destroy_path(inv_id:
                                                    Invitation.find_invitation(current_user.id, friend.id)) %>
                                                    <% end %>