<section class="wars">
<p class="wars-title">Wars 
<%if current_user.guild_officer || current_user.guild_owner %>
<%= link_to "+", guild_wars_new_path %>
<%end%>
</p>
<% if @war_active %>
        <div class="you-are-in-war">
            <p class="you-are-in-war-title">
			<% if @war_active.status == "wait_start" %>
                Waiting for war begin
			<%elsif @war_active.status == "in_war"%>
				Guild in war
			<%end%>
            </p>
		<% if @guild != @war_active.initiator %>
            <div class="wars-show-guild-info-name">
				<%= link_to @war_active.initiator.name, guild_path(@war_active.initiator), class: "wars-show-guild-info-name-link" %>
				<%= link_to guild_path(@war_active.initiator), class: "wars-show-guild-info-anagram-link" do %>
					[<%= @war_active.initiator.anagram %>]
				<%end%>
            </div>
			<div class="wars-show-guild-info-wrap">
				<%= image_tag @war_active.initiator.avatar, class: "wars-show-guild-info-avatar" %>
                <div class="wars-show-guild-info-stats">
					<div class="wars-show-guild-info-stat">
						<%= image_tag "sword.png", class: "wars-show-guild-info-stat-icon", style: "margin-top:5px" %>
                        <h3 class="wars-show-guild-info-stat-kd">20/34</h3>
                    </div>

					<div class="wars-show-guild-info-stat">
						<%= image_tag "man.png", style: "width:45px;height:45px" %>
                        <span class="wars-show-guild-info-stat-kd" > <%= @war_active.initiator.members.size%></span>
                    </div>

					<div class="wars-show-guild-info-stat">
						<%= image_tag "win_rate.png", class: "wars-show-guild-info-stat-icon" %>
                        <span class="wars-show-guild-info-stat-kd">23%</span>
                    </div>

                </div>
				<div class="top-guild-score-wrap" style="display:flex;margin-top:auto;margin-bottom:auto">
					<%= image_tag "ball.png", class: "wars-show-guild-info-stat-icon" %>
                    <h3 class="top-guild-score"><%= @war_active.initiator.points %></h3>
                </div>
            </div>
            <p class="you-are-in-war-end-time">
			<% if @war_active.status == "wait_start" %>
				Starts in <%= @war_active.started.strftime("%m/%d/%Y %H:%M") %>
			<%elsif @war_active.status == "in_war"%>
				Ends in <%= @war_active.ended.strftime("%m/%d/%Y %H:%M") %>
			<%end%>
            </p>
        </div>
		<%else%>
				<div class="wars-show-guild-info-name">
				<%= link_to @war_active.recipient.name, guild_path(@war_active.recipient), class: "wars-show-guild-info-name-link" %>
				<%= link_to guild_path(@war_active.recipient), class: "wars-show-guild-info-anagram-link" do %>
					[<%= @war_active.recipient.anagram %>]
				<%end%>
			</div>
			<div class="wars-show-guild-info-wrap">
				<%= image_tag @war_active.recipient.avatar, class: "wars-show-guild-info-avatar" %>
				<div class="wars-show-guild-info-stats">
					<div class="wars-show-guild-info-stat">
						<%= image_tag "sword.png", class: "wars-show-guild-info-stat-icon", style: "margin-top:5px" %>
						<h3 class="wars-show-guild-info-stat-kd">20/34</h3>
					</div>

					<div class="wars-show-guild-info-stat">
						<%= image_tag "man.png", style: "width:45px;height:45px" %>
						<span class="wars-show-guild-info-stat-kd" > <%= @war_active.recipient.members.size%></span>
					</div>

					<div class="wars-show-guild-info-stat">
						<%= image_tag "win_rate.png", class: "wars-show-guild-info-stat-icon" %>
						<span class="wars-show-guild-info-stat-kd">23%</span>
					</div>

				</div>
				<div class="top-guild-score-wrap" style="display:flex;margin-top:auto;margin-bottom:auto">
					<%= image_tag "ball.png", class: "wars-show-guild-info-stat-icon" %>
					<h3 class="top-guild-score"><%= @war_active.recipient.points %></h3>
				</div>
			</div>
			<p class="you-are-in-war-end-time">
			<% if @war_active.status == "wait_start" %>
				Starts in <%= @war_active.started.strftime("%m/%d/%Y %H:%M") %>
			<%elsif @war_active.status == "in_war"%>
				Ends in <%= @war_active.ended.strftime("%m/%d/%Y %H:%M") %>
			<%end%>
			</p>
		</div>
		<%end%>
<% else %>
<div class="wars-sending-incoming" id="tabs">
	<ul class="wars-sending-incoming-list">
		<li class="wars-sending-incoming-item">
			<button id="switch-btn-guild-users-incoming" class="btn-active" onclick="wars_request_switch('incoming')">incoming</button>
		</li>
		<li class="wars-sending-incoming-item">
			<button id="switch-btn-guild-users-sending" class="" onclick="wars_request_switch('sending')">sending</button>
		</li>
	</ul>

	<div class="tabs-content" id="wars-incoming" style="display:block;">
		<ul class="guilds-invite-list">
		<% @wars_request_received.each do |wrr| %>
				<li class="guilds-invite-item-wars">
					<%= image_tag wrr.initiator.avatar, alt: "avatar", class: "guilds-invite-item-avatar" %>
					<div class="guilds-invite-item-wrap">
						<div>
							<span class="guilds-invite-item-name"><%=  wrr.initiator.name %></span>
							<span class="guilds-invite-item-anagram">[<%= wrr.initiator.anagram %>]</span>
						</div>
						<div style="display:flex;font-size:15px">
							<h3>starts:</h3>
							<h3 style="margin-left:auto"><%= wrr.started.strftime("%m/%d/%Y %H:%M") %></h3>
						</div>
						<div style="display:flex;font-size:15px;margin-top:-15px">
							<h3>ends:</h3>
							<h3 style="margin-left:auto"><%= wrr.ended.strftime("%m/%d/%Y %H:%M") %></h3>
					</div>
					</div>
					<div class="guilds-invite-item-action" style="margin-left:auto">
						<%= link_to image_tag("ok.png", class: "guilds-invite-item-accept-icon"), guild_wars_accept_war_request_path(war_id: wrr), method: :post, remote: true %>
						<%= link_to image_tag("delete.png", class: "guilds-invite-item-cancel-icon"), guild_wars_decline_war_request_path(war_id: wrr), method: :post, remote: true %>
					</div>
				</li>
		<% end %>
		</ul>
	</div>
	<div class="tabs-content" id="wars-sending" style="display:none;">
	<ul class="guilds-invite-list">
	<% @wars_request_sent.each do |wrr| %>

				<li class="guilds-invite-item-wars">
					<%= image_tag wrr.initiator.avatar, alt: "avatar", class: "guilds-invite-item-avatar" %>
					<div class="guilds-invite-item-wrap">
						<div>
							<span class="guilds-invite-item-name"><%=  wrr.initiator.name %></span>
							<span class="guilds-invite-item-anagram">[<%= wrr.initiator.anagram %>]</span>
						</div>
						<div style="display:flex;font-size:15px">
							<h3>starts:</h3>
							<h3 style="margin-left:auto"><%= wrr.started.strftime("%m/%d/%Y %H:%M") %></h3>
						</div>
						<div style="display:flex;font-size:15px;margin-top:-15px">
							<h3>ends:</h3>
							<h3 style="margin-left:auto"><%= wrr.ended.strftime("%m/%d/%Y %H:%M") %></h3>
					</div>
					</div>
					<div class="guilds-invite-item-action" style="margin-left:auto">
						<%= link_to image_tag("delete.png", class: "guilds-invite-item-cancel-icon"), guild_wars_cancel_war_request_path(war_id: wrr), method: :post, remote: true %>
					</div>
				</li>
		<%end%>
	</ul>
</div>
<%end%>

</div>
</section>
<section class="wars-history-section">
<p class="wars-history-section-title">
	War history
</p>
<table class="wars-history-table">
	<tr class="wars-history-table-title">
		<td class="wars-history-table-title-item">opponent</td>
		<td class="wars-history-table-title-item">date</td>
		<td class="wars-history-table-title-item">result</td>
		<td class="wars-history-table-title-item">score</td>
	</tr>
	<% @wars_ended.each do |wre| %>
		<tr class="wars-history-table-title-row">
		<% if @guild != wre.initiator %>
			<td class="wars-history-table-title-row-item"><%=wre.initiator.name%></td>
		<%else%>
			<td class="wars-history-table-title-row-item"><%=wre.recipient.name%></td>
		<%end%>
		<td class="wars-history-table-title-row-item"> <%=wre.started.strftime("%m/%d/%Y %H:%M")%>-<%=wre.ended.strftime("%m/%d/%Y %H:%M")%></td>
		<% if @guild != wre.winner %>
			<td class="wars-history-table-title-row-item" style="color: #B2463E">LOST</td>
		<%else%>
			<td class="wars-history-table-title-row-item" style="color: #B2D430">WIN</td>	
		<%end%>

		<% if @guild != wre.initiator %>
			<%if @guild != wre.winner %>
				<td class="wars-history-table-title-row-item"><span style="color: #B2463E"><%= wre.initiator_score %></span>
			<%else%>
				<td class="wars-history-table-title-row-item"><%= wre.initiator_score %>
			<%end%>
		<%else%>
			<%if @guild != wre.winner %>
				<td class="wars-history-table-title-row-item"><span style="color: #B2463E"><%=wre.recipient_score%></span>
			<%else%>
				<td class="wars-history-table-title-row-item"><%=wre.recipient_score%>
			<%end%>
		<%end%>

		<% if @guild == wre.initiator %>
			<%if @guild == wre.winner %>
			: <span style="color: #B2D430"><%= wre.initiator_score %></span></td>
			<%else%>
			: <%= wre.initiator_score %></td>
			<%end%>
		<%else%>
			<%if @guild == wre.winner %>
			: <span style="color: #B2D430"><%= wre.recipient_score %></span></td>
			<%else%>
			: <%=wre.recipient_score%></td>
			<%end%>
		<%end%>
	</tr>
	<% end %>


	<tr class="wars-history-table-title-row">  <!-- Эту штуку не трогать, удалить комментарий перед сдачей -->
		<td class=""></td>
		<td class=""></td>
		<td class=""></td>
		<td class="wars-history-table-title-row-item"></td>
	</tr>
</table>

</section>