<h2 class="profile-settings-title">Two-step auth confirmation</h2>

<div class="two-step-auth">
<div class="two-step-auth-content">
	<%= form_tag otp_secrets_logger_path, method: :post, remote: true do %>
		<%= hidden_field_tag :otp_secret, @otp_secret %>
		<%= text_field_tag :otp_attempt, nil, placeholder: "Verify (enter a one-time pass)", class: "two-step-auth-input" %>
		<%= submit_tag "verify", class: "two-step-auth-submit-btn" %>
		<% end %>
<div>
<%= link_to "logout", destroy_user_session_path, :method => :delete %>

</div>