<div>
      <div class="messages-header">
        <a href="#">
          <%= image_tag "man.png" , style: "height:55px;width:55px;" %>
        </a>
        <h3 style="font-size: 25px;margin-top:10px"><%= @room.chat_room_members.length %></h3>
        <h3 class="header-room-name">
          <%=@room.name%>
        </h3>
        <h3 class="messages-leave"><%= link_to "leave", chat_room_members_leave_path(room_id: @room.id) %></h3>
      </div>
      <span class="messages-line"></span>

      <div class="messages" data-channel-subscribe="room" data-room-id="<%= @room.id %>">
        <% @room_messages.each do |room_message| %>
          <div class="message">
            <div class="dropdown-msg">
              <%= link_to image_tag(room_message.user.avatar),  profile_path(room_message.user) %>
              <div class="dropdown-msg-content">
                <%= link_to room_message.user.nickname, profile_path(room_message.user) %>
                <a href="#">duel</a>
                <a href="#">kick</a>
                <a href="#">ban</a>
              </div>
            </div>
            <div class="message-field">
              <h3>
                <%= room_message.message %>
              </h3>
              <h3 class="message-info"><%= link_to "deddara", profile_path(room_message.user)%>
              <% if room_message.user.guild %>
              <%= link_to guild_path(room_message.user.guild), style: "color:#616F39;" do %>
                [<%=room_message.user.guild.anagram%>]  
                <%end%>
              </h3>
              <%end%>
              <h3 class="message-info">
                <%=room_message.created_at%>
              </h3>
            </div>
          </div>
          <% end %>
          <div style="display:none;" data-role="message-template">
          <div class="message">
            <div class="dropdown-msg">
              <a href="#">
                <img src="" class="avatar" alt="" data-role="user-avatar">
              </a>
              <div class="dropdown-msg-content">
                <%= link_to profiles_path, "data-role" => "user-id" do %>
                  <span data-role="user-nickname"></span>
                <%end%>
                <a href="#">duel</a>
                <a href="#">kick</a>
                <a href="#">ban</a>
              </div>
            </div>
            <div class="message-field">
              <h3 data-role="message-text">
              </h3>
              <h3 class="message-info">
              <%= link_to profile_path, "data-role" => "user-id" do %>
                <span data-role="user-nickname"></span>
              <%end%>
              <%= link_to guild_path, "data-role" => "user-guild-id", style: "color:#616F39;" do %>
                [<span data-role="user-guild"></span>]
              <%end%>
              </h3>
              <h3 class="message-info" data-role="message-date">
              </h3>
          </div>
          </div>
        </div>
      </div>
      <div class="send-message">

        <%= simple_form_for @room_message, remote: true do |form| %>
          <%= form.input :message, as: :string, wrapper: false, label: false,required: false, input_html: { class: "msg-input" } %>
            <%= form.submit "Send" , class: 'send-message-button', disabled: "true" %>
              <%= form.input :room_id, as: :hidden %>
                <% end %>
      </div>
    </div>
